<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ng-view></ng-view>

      <!-- Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>

    <!-- Template -->
    <script type="text/ng-template" id="/register.html">
      <div>        
        <input type="text" ng-model="newUser">
        <input type="text" ng-model="newEmail">
        <input type="text" ng-model="newPassword">        
        <button ng-click="save()">Add</button>
       </div>
    </script>

     <script>
      angular.module('app', ['ngRoute', 'ngResource'])

        //---------------
        // Services
        //---------------

        .factory('user', ['$resource', function($resource){
          return $resource('/users/:id', null, {
            'update': { method:'PUT' }
          });
        }])

        //---------------
        // Controllers
        //---------------

        .controller('UserController', ['$scope', 'users', function ($scope, users) {
          $scope.editing = [];
          $scope.users = users.query();

          $scope.save = function(){
            if(!$scope.newUser || $scope.newUser.length < 1) return;
            if(!$scope.newEmail || $scope.newUser.length < 1) return;
            if(!$scope.newPassword || $scope.newUser.length < 1) return;
            
            var user = new users({ 
            name: $scope.newUser,
            email:$scope.newEmail,
            password:$scope.newPassword
            });

            user.$save(function(){
              $scope.users.push(user);
              $scope.newUser = ''; 
              $scope.newPassword = '';
              $scope.newEmail = '';
            });
          }

          $scope.update = function(index){
            var user = $scope.users[index];
            users.update({id: user._id}, user);
            $scope.editing[index] = false;
          }

          $scope.edit = function(index){
            $scope.editing[index] = angular.copy($scope.todos[index]);
          }

          $scope.cancel = function(index){
            $scope.todos[index] = angular.copy($scope.editing[index]);
            $scope.editing[index] = false;
          }

          $scope.remove = function(index){
            var user = $scope.todos[index];
            users.remove({id: user._id}, function(){
              $scope.users.splice(index, 1);
            });
          }
        }])

       

        //---------------
        // Routes
        //---------------

        .config(['$routeProvider', function ($routeProvider) {
          $routeProvider
            .when('/', {
              templateUrl: '/register.html',
              controller: 'UserController'
            });
        }]);
    </script>

  </body>
</html>
